.rpa-Icon {
    @import '../../../scss/variables/colors';

    height: 16px;
    width: 16px;

    svg {
        margin-right: 0;
    }

    &--is-placeholder {
        border: 1px solid $color-dark-grey;
    }
}