.rpa-PageHeader {
    @import '../../../scss/variables/colors';

    width: 100%;
    background-image: linear-gradient(to bottom, #3CE5D3, #42A1E1);
    padding: 13px 0;
    box-shadow: 0 3px 10px 0 rgba(0, 0, 0, 0.27);

    & &__back-icon {
        height: 20px;
        min-width: 30px;
        margin-left: 0;
        color: $color-white;
        padding-top: 3px;
        display: block;
        cursor: pointer;
    }

    &__heading {
        font-size: 1.3rem;
        color: $color-white;
        font-weight: 600;
    }

    &__logout-button {
        margin-left: auto;
        margin-right: -24px;
        position: relative;
        z-index: 1;
        overflow: hidden;

        &::after {
            content: '';
            height: 100%;
            left: 32px;
            right: 32px;
            position: absolute;
            background-color: $color-brand;
            top: 100%;
            transition: transform .1s;
            z-index: -2;
        }

        .rpa-Icon {
            margin-left: 12px;
            padding-top: 2px;
        }

        &:hover {
            &::after {
                transform: translateY(-4px);
            }
        }

        &,
        &:hover {
            color: $color-white;
        }
    }
}