// Colors
$color-white: #FFFFFF;
$color-turquoise: #29E0DD;
$color-dark-green: #31B4D4;
$color-dark-grey: #4A4A4A;
$color-light-grey: #BDBDBD;
$color-soft-brown: #9b9b9b;
$color-grey: #999999;
$color-blue: #5B87F1;
$color-light-blue: #53AAE9;
$color-purple: #616FF6;
$color-grey-light: #f0f0f0;

$color-brand: $color-turquoise;
$color-secondary: $color-light-blue;
$color-text: $color-dark-grey;
$color-subtle: $color-light-grey;