.rps-PageHeader {
    @import '../../../scss/variables/colors';

    width: 100%;
    padding: 24px 0;

    &__logo {
        height: 60px;
    }

    &__navigation {
        margin-left: auto;
    }

    &__navigation-button {
        position: relative;
        z-index: 1;
        overflow: hidden;
        padding: 12px;

        &::after {
            content: '';
            height: 100%;
            left: 32px;
            right: 32px;
            position: absolute;
            background-color: $color-brand;
            top: 100%;
            transition: transform .1s;
            z-index: -2;
        }

        .rps-Icon {
            max-height: 24px;
        }

        &:hover {
            &::after {
                transform: translateY(-4px);
            }
        }

        &,
        &:hover {
            color: $color-white;
        }
    }
}