.rpa-Background {
    @import '../../../scss/variables/colors';

    position: absolute;
    z-index: 0;
    top: 74px;
    height: calc(100vh - 74px);
    right: 0;
    left: 0;
    background-color: $color-grey-light;
}