// Colors
$color-white: #FFFFFF;
$color-light-grey: #EEEEEE;
$color-magenta: #7971EA;
$color-dark-grey: #393E46;
$color-alto-grey: #E0E0E0;
$color-navy-blue: #003171;
$color-black: #222831;
$color-orange: #FFA400;
$color-green: #16A085;
$color-red: #F62459;
$color-medium-grey: #BDC3C7;
$color-deep-blue: #42A5F5;

// Implementations
$color-brand: $color-magenta;
$color-contribution: $color-navy-blue;
$color-positive: $color-green;

$color-subtle: $color-light-grey;
$color-background: $color-light-grey;
$color-link: $color-deep-blue;
$color-text: $color-dark-grey;