.rps-ArtistItem {
    @import '../../../../scss/variables/colors';

    .rps-Card {
        padding: 8px 16px;
        overflow: hidden;
    }

    .rps-Heading {
        font-size: 1rem;
        font-weight: 600;
    }
}