.rps-CoverHeader {
    @import '../../../scss/variables/colors';

    .rps-Image {
        height: 180px;
        margin: 0 auto 12px;
    }

    .rps-Heading {
        font-size: 24px;
        font-weight: 500;
        color: $color-white;
        text-align: center;
    }
}