.rpa-MultiInput {
    justify-content: space-between;

    > * + * {
        margin-left: 12px;
    }

    &--suffix {
        .rpa-TextInput {
            &:not(.rpa-TextInput--has-suffix) {
                flex: 3;
                width: 240px;
            }

            &--has-suffix {
                flex: 1;
            }
        }
    }

    &--double {
        > * + * {
            margin-left: 12px;
        }

        .rpa-Select,
        .rpa-TextInput {
            flex: 1;
        }
    }
}