#react-root {
    @import './variables/colors.scss';

    display: flex;
    flex: 1;

    .rpa-RootView {
        flex: 1 0;

        &--gradient-background {
            background-image: linear-gradient(125deg, #42eadc, #6b47fe);
        }
    }

    .rpa-AppView {
        background-color: $color-white;
        min-height: 100vh;

        &--highlight-background {
            background-color: $color-grey-light;
        }
    }
}
