.rpa-TextInput {
    @import '../../../../scss/variables/colors';
    @import '../../../../scss/variables/fonts';

    border: 0;
    background-color: transparent;
    padding: 6px 0 12px;
    color: $color-black;
    font-size: 1rem;
    border-bottom: 1px solid;
    border-bottom-color: #E6E6E6;
    transition: .1s border-bottom-color;
    width: 100%;

    &__wrapper {
        position: relative;
        width: 100%;
    }

    &::placeholder {
        color: $color-text;
    }

    &:focus {
        outline: none;
        border-bottom-color: #83A9F4;
    }

    &__prefill {
        position: absolute;
        top: 17%;
        left: 0;
        color: $color-text;
        font-size: 1rem;
    }
}