.rps-InboxBase {
    @import '../../../../scss/variables/colors';

    color: $color-soft-brown;
    position: relative;
    z-index: 1;
    margin-bottom: 12px;

    &__card {
        padding: 72px 60px;
        max-height: 650px;
        overflow-y: scroll;
        min-height: 600px;
        min-width: 850px;
    }

    .rps-Heading {
        color: $color-blue;
        margin-bottom: 24px;
    }
}