.rps-Inbox {
    @import '../../../../scss/variables/colors';

    position: relative;

    .rps-Column > * + * {
        margin-top: 24px;
    }

    .rps-Heading {
        margin-top: 0;
    }

    .rps-Row {
        .rps-Field {
            flex: 1;
        }

        + .rps-Row {
            margin-top: 24px;
        }

        &:first-of-type {
            margin-top: 0;
        }
    }

    &__action-bar {
        position: absolute;
        bottom: 24px;
        left: 24px;
        right: 24px;
    }
}