.rps-Icon {
    @import '../../../scss/variables/colors';

    height: 60px;
    min-width: 60px;

    &--is-placeholder {
        border: 1px solid $color-dark-grey;
    }

    &--is-small {
        height: 36px;
        min-width: 36px;
    }

    &--is-round {
        border-radius: 50%;
    }
}