#react-root {
    @import './variables/colors.scss';

    display: flex;
    flex: 1;

    .rps-RootView {
        position: relative;
        flex: 1 0;
    }

    .rps-UserView,
    .rps-HelpView {
        background-color: $color-white;
        min-height: calc(100vh - 108px);
    }

    .rps-HelpView {
        position: relative;

        &__link {
            position: absolute;
            top: 60px;
            right: 48px;
            width: 220px;
            height: 150px;
        }
    }
}
